<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545663944521-gsc9hdgj3eckg353oadtq6mdfas7hg8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545663944521-gsc9hdgj3eckg353oadtq6mdfas7hg8g</string>
	<key>API_KEY</key>
	<string>AIzaSyDDOKIOTz61zVWYLL5HrkLo7nM2x1IqlTs</string>
	<key>GCM_SENDER_ID</key>
	<string>545663944521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thakurvijay.socialmedia</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-bf1ea</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-bf1ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545663944521:ios:858b3ec2d7e9674079bc98</string>
</dict>
</plist>